In [6]:
import pandas as pd

data = {
    "name" : ["홍길동", "김길동", "이길동"],
    "age" : [20, 21, 22],
    "gender" : ["남", "여", "남"]
}

df = pd.DataFrame(data)

print(type(df))
print(df)
print(df.head(3))

<class 'pandas.core.frame.DataFrame'>
  name  age gender
0  홍길동   20      남
1  김길동   21      여
2  이길동   22      남
  name  age gender
0  홍길동   20      남
1  김길동   21      여
2  이길동   22      남

In [5]:
print(df.iloc[0, 0])
print(df.loc[0, "name"])

홍길동
홍길동

In [7]:
# 한 칼럼을 통으로 가져오기
print(df["name"])

# 여러 칼럼을 통으로 가져오기
print(df[["name", "age"]])

# 여러 칼럼을 통으로 가져오기
print(df[["name", "age"]])

0    홍길동
1    김길동
2    이길동
Name: name, dtype: object
  name  age
0  홍길동   20
1  김길동   21
2  이길동   22
  name  age
0  홍길동   20
1  김길동   21
2  이길동   22

In [8]:
for i in range(0, len(df)):
    print(df.iloc[i, 0])

for i in range(0, df.shape[0]):
    for j in range(0, df.shape[1]):
        print(df.iloc[i, j], end=" ")
    print()

홍길동
김길동
이길동
홍길동 20 남
김길동 21 여
이길동 22 남