In [1]:
import pandas as pd

data = {
    'name': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ë¯¼ìˆ˜', 'ìµœì§€ì˜', 'ì •í˜„ìš°'],
    'kor': [85, 92, 78, 95, 88],
    'math': [90, 85, 92, 88, 95],
    'eng': [88, 90, 85, 92, 87]
}

df = pd.DataFrame(data)

print("ì§€ì •í•œ ì—´ë§Œ ì¶œë ¥\n")
print(df['name'])
print(df[['kor']])
print(df[['eng']])

ì§€ì •í•œ ì—´ë§Œ ì¶œë ¥

0    ê¹€ì² ìˆ˜
1    ì´ì˜í¬
2    ë°•ë¯¼ìˆ˜
3    ìµœì§€ì˜
4    ì •í˜„ìš°
Name: name, dtype: object
   kor
0   85
1   92
2   78
3   95
4   88
   eng
0   88
1   90
2   85
3   92
4   87

# Pandas Series ì—°ì‚°


## ğŸ“Š Series ì—°ì‚°ì˜ ê¸°ë³¸ ê°œë…

Pandas SeriesëŠ” 1ì°¨ì› ë°°ì—´ í˜•íƒœì˜ ë°ì´í„° êµ¬ì¡°ë¡œ, ì¸ë±ìŠ¤ì™€ ê°’ìœ¼ë¡œ êµ¬ì„±ë©ë‹ˆë‹¤. Series ê°„ì˜ ì—°ì‚°ì€ ê°™ì€ ì¸ë±ìŠ¤ë¥¼ ê°€ì§„ ê°’ë“¤ë¼ë¦¬ ìˆ˜í–‰ë©ë‹ˆë‹¤.

## ğŸ”¢ ì£¼ìš” ì—°ì‚° ë°©ë²•

### 1. ê¸°ë³¸ ì‚°ìˆ  ì—°ì‚°
- `+` : ë§ì…ˆ
- `-` : ëº„ì…ˆ  
- `*` : ê³±ì…ˆ
- `/` : ë‚˜ëˆ—ì…ˆ

### 2. ì—°ì‚° ì‹œ ì£¼ì˜ì‚¬í•­

#### NaN ì²˜ë¦¬
- **í‚¤ê°€ ì—†ëŠ” ê²½ìš°**: NaN(Not a Number) ê°’ì´ ìƒì„±ë©ë‹ˆë‹¤
- **NaNì˜ ì˜ë¯¸**: ëˆ„ë½ëœ ë°ì´í„°ë¥¼ ë‚˜íƒ€ë‚´ëŠ” í‘œì¤€ í‘œê¸°ë²•

#### fill_value ì‚¬ìš©
- `add()`, `sub()`, `mul()`, `div()` ë©”ì„œë“œì˜ `fill_value` ë§¤ê°œë³€ìˆ˜ í™œìš©
- ëˆ„ë½ëœ ê°’ì„ íŠ¹ì • ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ì—¬ ì—°ì‚° ìˆ˜í–‰

## ğŸ’¡ ì‹¤ìŠµ ì˜ˆì œ ì„¤ëª…

ì•„ë˜ ì½”ë“œì—ì„œ í™•ì¸í•  ìˆ˜ ìˆëŠ” ë‚´ìš©:

1. **ê¸°ë³¸ Series ìƒì„±**: ê°ê° ë‹¤ë¥¸ í‚¤ ìˆœì„œë¡œ ë°ì´í„° ìƒì„±
2. **NaN ë°œìƒ**: í‚¤ê°€ ì¼ì¹˜í•˜ì§€ ì•ŠëŠ” ê²½ìš° NaN ì¶œë ¥
3. **ì—°ì‚° ê²°ê³¼**: 
   - ê¸°ë³¸ ì—°ì‚°: NaNì´ í¬í•¨ëœ ê²°ê³¼
   - fill_value ì‚¬ìš©: 0ìœ¼ë¡œ ëŒ€ì²´í•˜ì—¬ ì™„ì „í•œ ì—°ì‚° ê²°ê³¼ ë„ì¶œ

## ğŸ¯ í™œìš© íŒ

- ë°ì´í„° ì „ì²˜ë¦¬ ì‹œ NaN ê°’ ì²˜ë¦¬ ë°©ë²• ì„ íƒ
- fill_value ê°’ì„ ìƒí™©ì— ë§ê²Œ ì¡°ì • (0, í‰ê· ê°’, ì¤‘ì•™ê°’ ë“±)
- Series ì—°ì‚° ì „ ë°ì´í„° êµ¬ì¡° í™•ì¸ í•„ìˆ˜

In [4]:
print(df.loc[:, 'name' : 'eng']) # í–‰ ì „ì²´ name ~ engê¹Œì§€
print(df.loc[:, ['name', 'eng', 'math']]) # numpy
print(df.iloc[[1, 3], [0, 1, 2]]) # í–‰ 1, 3ë²ˆì§¸, ì—´ 0, 1, 2(name, eng, math)
print(df.loc[[1, 3], ['name', 'kor']]) # ì–‘ìª½ ë‹¤ ìŠ¬ë¼ì´ì‹± ê°€ëŠ¥
print(df.iloc[[1, 3], [0, 2]]) # í–‰ 1, 3ë²ˆì§¸, ì—´ 0, 2(name, math)

  name  kor  math  eng
0  ê¹€ì² ìˆ˜   85    90   88
1  ì´ì˜í¬   92    85   90
2  ë°•ë¯¼ìˆ˜   78    92   85
3  ìµœì§€ì˜   95    88   92
4  ì •í˜„ìš°   88    95   87
  name  eng  math
0  ê¹€ì² ìˆ˜   88    90
1  ì´ì˜í¬   90    85
2  ë°•ë¯¼ìˆ˜   85    92
3  ìµœì§€ì˜   92    88
4  ì •í˜„ìš°   87    95
  name  kor  math
1  ì´ì˜í¬   92    85
3  ìµœì§€ì˜   95    88
  name  kor
1  ì´ì˜í¬   92
3  ìµœì§€ì˜   95
  name  math
1  ì´ì˜í¬    85
3  ìµœì§€ì˜    88

In [5]:
import pandas as pd

data1 = {'eng': 88, 'math': 90, 'kor': 85}
data2 = {'math': 85, 'kor': 92, 'eng': 90}
data3 = {'kor': 78, 'eng': 85, 'math': 92}
data4 = {'math': 88, 'kor': 95, 'eng': 92}

# í‚¤ê°€ ì—†ìœ¼ë©´ NaN ì¶œë ¥.  NaNì€ ëˆ„ë½ëœ ê°’ì„ ì˜ë¯¸
s1 = pd.Series(data1)
s2 = pd.Series(data2)
s3 = pd.Series(data3)
s4 = pd.Series(data4)

print("s1:\n", s1)
print("s2:\n", s2)
print("s3:\n", s3)
print("s4:\n", s4)

s1:
 eng     88
math    90
kor     85
dtype: int64
s2:
 math    85
kor     92
eng     90
dtype: int64
s3:
 kor     78
eng     85
math    92
dtype: int64
s4:
 math    88
kor     95
eng     92
dtype: int64

In [6]:
result = s1+s2+s3+s4
print("result:\n", result)

result:
 eng     355
kor     350
math    355
dtype: int64

In [7]:
result2 = s1.add(s2, fill_value=0).add(s3, fill_value=0).add(s4, fill_value=0)
print("result2:\n", result2)

result2:
 eng     355
kor     350
math    355
dtype: int64

In [ ]:
import pandas as pd

data1 = {'eng': 88, 'math': 90, 'kor': 85}
data2 = {'math': 85, 'kor': 92, 'eng': 90}
data3 = {'kor': 78, 'eng': 85, 'math': 92}
data4 = {'math': 88, 'kor': 95, 'eng': 92}

df = pd.DataFrame(columns=["kor", "eng", "mat"])
# pandas 2.0 ì´ìƒ ë²„ì „ì—ì„œëŠ” _append ë©”ì„œë“œ ëŒ€ì‹  concat ë©”ì„œë“œ ì‚¬ìš©
# df = df._append(data1, ignore_index = True)

In [8]:
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
import pandas as pd

data = {
    'name': ['ê¹€ì² ìˆ˜', 'ì´ì˜í¬', 'ë°•ë¯¼ìˆ˜', 'ìµœì§€ì˜', 'ì •í˜„ìš°'],
    'kor': [85, 92, 78, 95, 88],
    'math': [90, 85, 92, 88, 95],
    'eng': [88, 90, 85, 92, 87]
}
df = pd.DataFrame(data)

# í–‰ ì¶”ê°€
df.loc[len(df)] = data1
df.loc[len(df)] = data2
df.loc[len(df)] = data3
df.loc[len(df)] = data4

# ì¸ë±ìŠ¤ ì¬ì„¤ì •(í•„ìš”ì‹œ)
df = df.reset_index(drop=True)

# ì›í•˜ëŠ” í–‰, ì—´ ì¶œë ¥
print(df.iloc[[1, 3, 5], [0, 1, 2]])

  name  kor  math
1  ì´ì˜í¬   92    85
3  ìµœì§€ì˜   95    88
5  NaN   85    90

In [9]:
df = pd.concat([
    pd.DataFrame([data1]),
    pd.DataFrame([data2]),
    pd.DataFrame([data3]),
    pd.DataFrame([data4]),
    ], ignore_index = True)
print("\n concat ê²°ê³¼ : ")
print(df)

 concat ê²°ê³¼ :
   eng  math  kor
0   88    90   85
1   90    85   92
2   85    92   78
3   92    88   95

In [12]:
df['total'] = df['kor'] + df['eng'] + df['math']
df['avg'] = round(df['total'] / 3)

print(df)

   eng  math  kor  total   avg
0   88    90   85    263  88.0
1   90    85   92    267  89.0
2   85    92   78    255  85.0
3   92    88   95    275  92.0

In [15]:
import pandas as pd
 
new_data = {
    'fruits':['ë§ê³ ', 'ë”¸ê¸°', 'ìˆ˜ë°•', 'íŒŒì¸ì• í”Œ'],
    'price':[2500, 5000,10000, 7000],
    'count':[5, 2, 2, 4],
}
df = pd.DataFrame(columns=['fruits', 'price', 'count'])
df.loc[len(df)] = {'fruits': 'ì‚¬ê³¼', 'price': 3500, 'count': 10}

print(df)

  fruits  price  count
0     ì‚¬ê³¼   3500     10

# ë¬¸ì œ
ì•„ë˜ í‘œì˜ ë°ì´í„°ë¥¼ ë°ì´í„°í”„ë ˆì„(DataFrame)ìœ¼ë¡œ ë§Œë“œì„¸ìš”.<br>
X1  X2  X3  X4
2.9	9.2	13.2	2
2.4	8.7	11.5	3
2	7.2	10.8	4
2.3	8.5	12.3	2
3.2	9.6	12.6	3
ìœ„ ë°ì´í„°í”„ë ˆì„ì— ë§ˆì§€ë§‰ í–‰ìœ¼ë¡œ [10, 20, 30, 40]ì„ ì¶”ê°€í•˜ì„¸ìš”.
ê° ì—´ì˜ í•©ì„ êµ¬í•´ì„œ, ìƒˆë¡œìš´ ì—´ totalì— ì €ì¥í•˜ì„¸ìš”.

In [16]:
import pandas as pd

# 1. ë°ì´í„°í”„ë ˆì„ ìƒì„±
data = {
    'X1': [2.9, 2.4, 2, 2.3, 3.2],
    'X2': [9.2, 8.7, 7.2, 8.5, 9.6],
    'X3': [13.2, 11.5, 10.8, 12.3, 12.6],
    'X4': [2, 3, 4, 2, 3]
}
df = pd.DataFrame(data)

# 2. ë§ˆì§€ë§‰ í–‰ ì¶”ê°€
df.loc[len(df)] = [10, 20, 30, 40]

# 3. ê° í–‰ì˜ í•©ì„ êµ¬í•´ì„œ 'total' ì»¬ëŸ¼ì— ì €ì¥
df['total'] = df.sum(axis=1)

print(df)

     X1    X2    X3  X4  total
0   2.9   9.2  13.2   2   27.3
1   2.4   8.7  11.5   3   25.6
2   2.0   7.2  10.8   4   24.0
3   2.3   8.5  12.3   2   25.1
4   3.2   9.6  12.6   3   28.4
5  10.0  20.0  30.0  40  100.0